
.pick {
  width: 65%;
  margin: 40px auto;
  display: flex;
  flex-flow: column nowrap;
}

.pick-role-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgrey;
}

.pick-role-box img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  background-color: #d3c6df;;
}

.pick-role {
  margin-left: 25px;
  padding-bottom: 10px;
}

.pick-role__name {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 800;
}

.pick-role__title {
  margin: 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: grey;
}

.pick-role__title:hover {
  color: rgb(85, 85, 85);
}

.pick-role__announced, .pick-role__named, .pick-role__withdrawn, .pick-role__elected {
  padding: 5px 15px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0px;
  border-radius: 2px;
}

.pick-role__announced, .pick-role__named {
  background-color: var(--lighter);
  color: var(--darker);
}

.pick-role__elected {
  background-color: lightgreen;
  color: darkgreen;
}

.pick-role__withdrawn {
  background-color: brown;
  color: white;
}

.pick-data-box {
  display: flex;
  flex-flow: column wrap;
  margin: 20px 0px 40px 0px;
  padding-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgba(82, 82, 82, 0.945);
}

.pick-data-box strong {
  color: black;
}

.pick-data-box p, .pick-data-box div, .pick-data-box div ul {
  margin: 5px 0px;
}

.special {
  text-align: center;
}

.special img {
  height: 450px;
  width: auto;
}